body {
    margin: 0;
    font-family: sans-serif;
    background: #111;
    color: white;
    display: flex;
    flex-direction: center;
    justify-content: center;
    height: 100vh;
}

/* animacion de carga */
.menu {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    gap: 20px;
    opacity: 0;
    transform: translateY(20px);
    animation: fandelnUp 1s ease-in-out forwards;
    animation-delay: 1s;
}

@keyframes fandelnUP {
    to{
        opacity: 1;
        transform: translateY();
    }
}

.item {
    background: #222;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    transition: transform 0.3s, background 0.3s;
    cursor: pointer;
    box-shadow: 0 0 10px #6666cc;
}

/* hover */

.item:hover {
    background-color: 6600cc;
    transform: scale(1.05);
    box-shadow: 0 0 15px#bb66ff;
}

